@import "colors.css"

.root {
    -fx-background: -fx-var-background-color;
}

.button {
    -fx-text-fill: navy;
}

.separator .line {
    -fx-border-width: 2;
}

#title {
    -fx-font: bold 16pt "Lucida Grande";
    -fx-text-fill: navy;
    -fx-padding: /* top: */ 20 /* right: */ 0 /* bottom: */ 20 /* left: */ 0;
}

#title-pane {
    -fx-border-width: 1px;
    -fx-border-color: -fx-var-background-color;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, gray 0%, lightblue 100%);
    -fx-alignment: top-center;
}

#list-pane {
    -fx-spacing: 8;
}

#details-grid {
    -fx-alignment: top-left;
    -fx-hgap: 30;
    -fx-vgap: 30;
}

#scenario-pane-hbox {
    -fx-spacing: 50;
}

#scenario-pane {
    -fx-spacing: 3;
}

#radio-buttons-hbox {
    -fx-spacing: 200;
}

#side-pane {
    -fx-spacing: 3;
    -fx-padding: /* top: */ 20 /* right: */ 0 /* bottom: */ 0 /* left: */ 0;
}

#push-buttons-pane {
}

#main-pane {
    -fx-border-width: 1px;
    -fx-padding: /* top: */ 20 /* right: */ 20 /* bottom: */ 0 /* left: */ 20;
}